@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root{
  --background-primary: #fffffe; 
  --background-secondary: #f6efef; 
  --background-footer: #181818; 
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', serif;
}

h1 {
  color: #181818;
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Roboto', cursive;
}

h2 {
  color: #2e2e2e;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #4fc4cf 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #4fc4cf;
  font-family: 'Roboto', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  height: 80vh;
  background-color: var(--background-primary);
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: var(--background-secondary);
  padding: 100px 0;
}

.bottom-container {
  background-color: var(--background-footer);
  padding: 50px 0 20px;
}

.skill-row {
  background-color: #f0e2e1;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  padding: 50px;
  padding-bottom: 100px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.camera-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background-color: #50c4cf;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}